* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

header {
  width: 100vw;
  height: 20vh;
  background-color: #d33a2c;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

header #nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header #nav ul {
  list-style-type: none;
  /* width: 80vw; */
  position:  absolute;
  left: 75px;
  margin-right: 40px;
}
header #nav ul li {
  display: inline-block;
  margin: 10px;
  
  
}

header #nav ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 15px;
}

header #nav ul li a:hover {
  background-color: #a82e23;
  border-radius: 5px;
  cursor: pointer;
}

.special-link,
a.active {
  background-color: #a82e23;
  border-radius: 5px;
  cursor: pointer;
}


.logo {
  margin-left: 40px;
}

.right {
  float: right;
  margin-right: 5px;
}

.search {
  position: absolute;
  height: 60px;
  width: 40%;
  border-radius: 11px;
}
.search:focus {
  border: dotted #000000 3px;
  cursor: pointer;
}

.fa-search {
  position: absolute;
  line-height: 60px;
  color: #d33a2c;
  font-size: 30px;
  margin-left: 10px;
  z-index: 99;
}
::placeholder {
  text-align: center;
  font-size: 25px;
}

main {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background-color: #ffffff;
}
div .content {
  width: 100vw;
  height: 50vh;
  display: grid;

}
div .first-sec {
    width: 50vw;
    background-color: red;
    height: 25vh;
    
}
div .second-sec {
  
}
