* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

header {
  width: 100vw;
  height: 20vh;
  background-color: #d33a2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header #nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header #nav img {
  width: 235px;
  height: 95px;
}

/*
header #nav ul li {
  display: inline-block;
  margin: 10px;
}

header #nav ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 15px;
}

header #nav ul li a:hover {
  background-color: #a82e23;
  border-radius: 5px;
  cursor: pointer;
}

.special-link,
a.active {
  background-color: #a82e23;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  margin-left: 40px;
}

.right {
  float: right;
  margin-right: 5px;
}

.search {
  position: absolute;
  height: 60px;
  width: 40%;
  border-radius: 11px;
}
.search:focus {
  border: dotted #000000 3px;
  cursor: pointer;
}

.fa-search {
  position: absolute;
  line-height: 60px;
  color: #d33a2c;
  font-size: 30px;
  margin-left: 10px;
  z-index: 99;
}
::placeholder {
  text-align: center;
  font-size: 25px;
} 

*/
main {
  width: 100vw;
  height: 100vh;
}


.first-section {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.first {
  background-color: #bc3428;
  height: 100vh;
  
}

.second {
  background-color: #c7372a;
  height: 100vh;
}

.third {
  background-color:#b13125;
  height: 100vh;
  
}

.fourth {
  background-color: #bc3428;
  height: 100vh;
}
div .art-one {
  margin: 250px 0 0  100px;

}
div .art-one img {
  border-radius: 20%;
  border: solid 5px #FFFFFF;
  height: 50%;
  vertical-align: middle;
  width: 13%;
  transform: rotate(-16deg);
}
div .art-one img:hover {
  cursor: pointer;
  transform: rotate(0deg);

}
.artiic {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 15px;
  font-family:  Mija;
  font-size: 20px;
}
.art-one span {
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  font-family: Elena;
  font-size: 16px;
}
h2 {
  color: #FFFFFF;
  font-family:  Mija;
  padding-top: 18px;
  font-size: 30px;
}
.fa-sticky-note-o {
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 15px;
}
.artiic-sec {
  text-decoration: none;
  color: #FFFFFF;
  font-family:  Mija;
  font-size: 15px;
  padding-top: 15px;
}
.art-list  li {
  display: inline-block;
  padding-top: 45px;
}
.art-list span {
  color: #5d1505;
  font-size: 16px;
}
sup {
  color: #FFFFFF;
}

.art-list  li a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
}
.fa-long-arrow-right {
  color: #FFFFFF;
  font-size: 30px;
  padding-top: 100px;
}
div .art-second {
  margin: 250px 0 0  100px;
} 
div .art-second img {
  border-radius: 20%;
  border: solid 5px #FFFFFF;
  height: 50%;
  vertical-align: middle;
  width: 13%;
  transform: rotate(-16deg);
}
div .art-second img:hover {
  cursor: pointer;
  transform: rotate(0deg);

}
.artiic {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 15px;
  font-family:  Mija;
  font-size: 20px;
}
.art-second span {
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  font-family: Elena;
  font-size: 16px;
}
h2 {
  color: #FFFFFF;
  font-family:  Mija;
  padding-top: 18px;
  font-size: 30px;
}
.fa-sticky-note-o {
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 15px;
}
.artiic-sec {
  text-decoration: none;
  color: #FFFFFF;
  font-family:  Mija;
  font-size: 15px;
  padding-top: 15px;
}
.art-list  li {
  display: inline-block;
  padding-top: 45px;
}
.art-list span {
  color: #5d1505;
  font-size: 16px;
}
sup {
  color: #FFFFFF;
}

.art-list  li a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
}
.fa-long-arrow-right {
  color: #FFFFFF;
  font-size: 30px;
  padding-top: 100px;
}

